
@model CRUDMVC.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InicioSesion</title>
    <link rel="stylesheet" href="~/css/ComprasStyle.css"/>
</head>
<body>

    <div  class="ContainerInicioSesion">
        <form class="ContainerForm" asp-action="InicioSesion">
            <label asp-for="UsuarioName" >Usuario</label>
            <input asp-for="UsuarioName" type="text" placeholder="Escriba su usuario"/>
            <span asp-validation-for="UsuarioName"></span>
            <label asp-for="password">Contraseña</label>
            <input asp-for="password" type="password" placeholder="Escriba su contraseña" />
            <span asp-validation-for="password"></span>
            <button>Ingresar</button>
            <div>
            <a asp-action="Registro">No tienes un usuario has click aqui</a>
           </div>
        </form>

        
    </div>
    


</body>
</html>
@section Scripts{
    @{
       await  Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
